<h1>Список пользователей</h1>
<input type="button" class="btn btn-default" value="Добавить" (click)="addUser()" />
<table class="table table-striped">
	<thead>
		<tr>
			<td>Id</td>
			<td>Имя</td>
			<td>Возраст</td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users">
			<ng-template [ngTemplateOutlet]="loadTemplate(user)"
						[ngTemplateOutletContext]="{ $implicit: user}"></ng-template>
		</tr>
	</tbody>
</table>
<div>{{statusMessage}}</div>

<!-- Template for read -->
<ng-template #readOnlyTemplate let-user>
	<td>{{user.id}}</td>
	<td>{{user.name}}</td>
	<td>{{user.age}}</td>
	<td>
		<input type="button" value="Изменить" class="btn btn-default" (click)="editUser(user)" />
	</td>
	<td>
		<input type="button" value="Удалить" class="btn btn-danger" (click)="deleteUser(user)" />
	</td>
</ng-template>

<!--  template for edit -->
<ng-template #editTemplate let-user>
	<td>
		<input type="text" [(ngModel)]="editedUser.id" class="form-control" disabled readonly />
	</td>
	<td>
		<input type="text" [(ngModel)]="editedUser.name" class="form-control" />
	</td>
	<td>
		<input type="text" [(ngModel)]="editedUser.age" class="form-control" />
	</td>
	<td>
		<input type="button" value="Сохранить" class="btn btn-success" (click)="saveUser()" />
	</td>
	<td>
		<input type="button" value="Отмена" class="btn btn-warning" (click)="cancel()" />
	</td>
</ng-template>